/* 
.container {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.profilePic {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.client-pic {
  width: 100px;
  height: 100px;
}

.bitcoin-symbol {
  color: #FF9900;
  font-size: 52px;
} */

.header-row {
  border-bottom: 1px solid gray;
  margin-bottom: 20px;
}

.drop-down-box {
  padding: 10px;
  /* background:lightgray; */
  position: relative;
  height: auto;
  /* border: 1px solid black; */
}

.client-header {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px 10px 0 10px;
    margin-top: 40px;
    text-decoration: underline;
}

.col-4 {
  padding-left: 0;
}

.button-grouping {
  display: flex;

}

.current-case {
  /* padding-top: 30px; */
}

.case-heading {
  padding: 40px 0 10px 0;
  color: lightgray;
}

.client-heading {
  padding: 10px 0 10px 0;
  color: lightgray;
}

.tracker-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}