
.container {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.profilePic {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.client-pic {
  width: 100px;
  height: 100px;
}

.bitcoin-symbol {
  color: #FF9900;
  font-size: 52px;
}