.client-pic {
    height: 150px;
    width: 150px;
    padding-left: 0;
    margin-top: 10px;
}

.client-bar {
    display: flex;
    height: 325px;
}

.client-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.CSW-gif {
    width: 720px;
    height: 201px;
    /* padding-bottom: 10px; */
}

.client-box {
    padding: 10px;
}

.progress-column {
    padding: 10px;
}