.client-pic {
    height: 150px;
    width: 150px;
}

.client-bar {
    display: flex;
    height: 325px;
}

.client-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}